<script type="text/javascript" src="js/jquery.coda-slider-2.0.js" ></script>
<script type="text/javascript" src="js/rubyconf.js" ></script>

<div class="coda-slider-wrapper">
  <div id="coda-nav-1" class="coda-nav">
    <ul>
      <% @sessions['order'].each_with_index do |session_name,i| %>
      <li class="tab<%= i %>"><a href="#<%= i + 1%>">
        <% session = @sessions['details'][session_name] %>

        <% unless session['photo_base'] %>
        <span style="background-color: #F0ADAD"><%= session['speakers'].join(', ') %></span>
        <% else %>
        <span style="background-image:url(images/speakers/<%= session['photo_base'] %>.png);"><img src="images/speakers/<%= session['photo_base'] %>.sepia.png" alt="<%= session['speakers'].map { |s| @speakers[s]['name'] }.join(', ') %>" /></span>
        <% end %>
      </a></li>
      <% end %>
    </ul>
  </div>

  <div class="coda-slider preload" id="coda-slider-1">
    <% @sessions['order'].each do |session_name| %>
      <div class="panel">
        <div class="panel-wrapper">

          <% session = @sessions['details'][session_name] %>
          <% session['speakers'].each do |speaker_nickname| %>
            <% speaker = @speakers[speaker_nickname] %>

            <p><%= speaker['intro'] %></p>
          <% end %>

          <div class='session'><%= session['intro'] %></div>
        </div>
      </div>
    <% end %>
  </div>
</div>
